@import url(menu.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 27, 70);
    
    
}

.menu-container {
    font-family: 'Cormorant Unicase', serif;
    font-style: 600;
    position: fixed;
    background-color: rgb(22, 19, 32);
    color: rgb(235, 235, 235);
    width: 100%;
    padding: 5px;

}

h1 {
    float: left;
}



@media screen and (max-width: 740px) {
    body {
        background-size: 100vh 100vw;
    }
}

#boton-menu {
    display: none;
}