#botonMenu {
    display: none;
}




.icon-menu {
    background: none;
    float: right;
    cursor: pointer;
    padding: 3px;
    font-size: 25px;
    color: rgb(235, 235, 235);
    z-index: 1;

}



.menu {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
    background-color: rgb(22, 19, 32);
    transition: all .8s;
    transform: translateX(100%);
    z-index: 1;
}


.menu a {
    color: rgb(214, 198, 198);
    display: block;
    text-decoration: none;
    padding: 20px;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 1px solid white ;
}

.menu a:hover {
    background-color: darkblue;
}

#botonMenu:checked ~ .menu {
    transition: all .8s;
    transform: translateX(0%);
    
}


@media screen and (min-width: 1024px) {
    .menu {
        position: static;
        width: auto;
        height: 45px;
        transform: translateX(0%);
        display: flex;
        float: right;
    }

    .menu a {
        border: none;
    }

    .icon-menu {
        display: none;
    }
}
    
