

.icon-menu {
    background: none;
    cursor: pointer;
    float: right;
    padding: 3px;
    font-size: 20px;
    color: rgb(235, 235, 235);

}


.menu {
    position: absolute;
    top: 32px;
    right: 0;
    width: 50%;
    height: 50vh;
    background-color: rgb(0, 15, 102);
    transition: all 1s;
    transform: translateX(100%);
}


.menu a {
    color: rgb(214, 198, 198);
    display: block;
    height: 72px;
    text-decoration: none;
    padding: 20px;
    border-bottom: ghostwhite;
}

.menu a:hover {
    background: rgb(191, 100, 31, 4);
}

#boton-menu:checked ~ .menu {
    transform: translateX(0%);
}
