
.icon-menu:before { content: '\e800'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */